<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

    <extension
            point="org.eclipse.ui.editors">
        <editor
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:edu.kit.iti.formal.pse.worthwhile.ui.editor.WorthwhileEditor"
            contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
            default="true"
            extensions="ww"
            id="edu.kit.iti.formal.pse.worthwhile.Worthwhile"
            name="Worthwhile Editor">
        </editor>
    </extension>
    <extension
        point="org.eclipse.ui.handlers">
        <handler
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
            commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
            <activeWhen>
                <reference
                    definitionId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
        <handler
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
            commandId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.validate">
         <activeWhen>
            <reference
                    definitionId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened">
            </reference>
         </activeWhen>
      </handler>
    </extension>
    <extension point="org.eclipse.core.expressions.definitions">
        <definition id="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened">
            <and>
                <reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
                <with variable="activeEditor">
                    <test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName" 
                        value="edu.kit.iti.formal.pse.worthwhile.Worthwhile" 
                        forcePluginActivation="true"/>
                </with>        
            </and>
        </definition>
    </extension>
    <extension
            point="org.eclipse.ui.preferencePages">
        <page
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="edu.kit.iti.formal.pse.worthwhile.Worthwhile"
            name="Worthwhile">
            <keywordReference id="edu.kit.iti.formal.pse.worthwhile.ui.keyword_Worthwhile"/>
        </page>
        <page
            category="edu.kit.iti.formal.pse.worthwhile.Worthwhile"
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
            id="edu.kit.iti.formal.pse.worthwhile.Worthwhile.coloring"
            name="Syntax Coloring">
            <keywordReference id="edu.kit.iti.formal.pse.worthwhile.ui.keyword_Worthwhile"/>
        </page>
        <page
            category="edu.kit.iti.formal.pse.worthwhile.Worthwhile"
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
            id="edu.kit.iti.formal.pse.worthwhile.Worthwhile.templates"
            name="Templates">
            <keywordReference id="edu.kit.iti.formal.pse.worthwhile.ui.keyword_Worthwhile"/>
        </page>
    </extension>
      <extension
            point="org.eclipse.ui.propertyPages">
        <page
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
            id="edu.kit.iti.formal.pse.worthwhile.Worthwhile"
            name="Worthwhile">
            <keywordReference id="edu.kit.iti.formal.pse.worthwhile.ui.keyword_Worthwhile"/>
            <enabledWhen>
	            <adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
	        <filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
        </page>
    </extension>
    <extension
        point="org.eclipse.ui.keywords">
        <keyword
            id="edu.kit.iti.formal.pse.worthwhile.ui.keyword_Worthwhile"
            label="Worthwhile"/>
    </extension>
    <extension
         point="org.eclipse.ui.commands">
      <command
            description="Trigger expensive validation"
            id="edu.kit.iti.formal.pse.worthwhile.Worthwhile.validate"
            name="Validate">
      </command>
    </extension>
    <extension point="org.eclipse.ui.menus">
        <menuContribution
            locationURI="popup:#TextEditorContext?after=group.edit">
             <command
                 commandId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.validate"
                 style="push"
                 tooltip="Trigger expensive validation">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened">
                </reference>
            </visibleWhen>
         </command>  
         </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
                	<reference definitionId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened">
                	</reference>
            	</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	    <handler
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
            commandId="org.eclipse.xtext.ui.editor.FindReferences">
            <activeWhen>
                <reference
                    definitionId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened">
                </reference>
            </activeWhen>
        </handler>
    </extension>   

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="ww">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="ww">
        </resourceServiceProvider>
    </extension>



	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="edu.kit.iti.formal.pse.worthwhile.Worthwhile.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>

  <extension point="org.eclipse.compare.contentViewers">
    <viewer id="edu.kit.iti.formal.pse.worthwhile.Worthwhile.compare.contentViewers"
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="ww">
    </viewer>
  </extension>
  <extension point="org.eclipse.compare.contentMergeViewers">
    <viewer id="edu.kit.iti.formal.pse.worthwhile.Worthwhile.compare.contentMergeViewers"
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
            extensions="ww" label="Worthwhile Compare">
     </viewer>
  </extension>
  <extension point="org.eclipse.ui.editors.documentProviders">
    <provider id="edu.kit.iti.formal.pse.worthwhile.Worthwhile.editors.documentProviders"
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
            extensions="ww">
    </provider>
  </extension>

   <!-- quickfix marker resolution generator -->
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="edu.kit.iti.formal.pse.worthwhile.ui.editor.WorthwhileEditor"
            class="edu.kit.iti.formal.pse.worthwhile.ui.debugmodel.WorthwhileBreakpointAdapterFactory">
         <adapter
               type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget">
         </adapter>
      </factory>
   </extension>
<extension  point="org.eclipse.ui.editors.annotationTypes">
<type
	markerType="edu.kit.iti.formal.pse.worthwhile.debugger.lineBreakpoint.marker"
	name="edu.kit.iti.formal.pse.worthwhile.ui.annotations.lineBreakpoint"
	super="org.eclipse.debug.core.breakpoint">
</type>
<type
      markerSeverity="2"
      markerType="edu.kit.iti.formal.pse.worthwhile.debugger.markers.failledAssertion"
      name="edu.kit.iti.formal.pse.worthwhile.ui.annotations.failedAssertion">
</type>
 </extension>
<extension
      point="org.eclipse.ui.editorActions">
   <editorContribution
         id="edu.kit.iti.formal.pse.worthwhile.ui.rulerActions"
         targetID="edu.kit.iti.formal.pse.worthwhile.Worthwhile">
      <action
            actionID="RulerDoubleClick"
            class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
            id="edu.kit.iti.formal.pse.worthwhile.ui.actions.doubleClickBreakpointAction"
            label="Toggle Breakpoint (double-click)"
            style="push">
      </action>
   </editorContribution>
</extension>
<extension
      id="edu.kit.iti.formal.pse.worthwhile.ui.contenttype"
      point="org.eclipse.core.contenttype.contentTypes">
   <content-type
         base-type="org.eclipse.core.runtime.text"
         file-extensions="ww"
         id="edu.kit.iti.formal.pse.worthwhile.ui.contenttypes.worthwhile"
         name="Worthwhile File"
         priority="normal">
   </content-type>
</extension>
<extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="edu.kit.iti.formal.pse.worthwhile.ui.launching.WorthwhileTabGroup"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.tabgroup"
            type="edu.kit.iti.formal.pse.worthwhile.debugger.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="edu.kit.iti.formal.pse.worthwhile.ui.launching.WorthwhileLaunchShortcut"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.launchShortcut"
            label="Worthwhile Program"
            modes="run,debug">
         <contextualLaunch>
         	<enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="*.ww"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <newWizardShortcut
               id="edu.kit.iti.formal.pse.worthwhile.ui.wizard.NewWorthwhileFileWizard">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="edu.kit.iti.formal.pse.worthwhile.ui.newWizard.category"
            name="Worthwhile">
      </category>
      <wizard
            category="edu.kit.iti.formal.pse.worthwhile.ui.newWizard.category"
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:edu.kit.iti.formal.pse.worthwhile.ui.wizard.NewWorthwhileProjectWizard"
            icon="icons/editor.gif"
            id="edu.kit.iti.formal.pse.worthwhile.ui.wizard.NewWorthwhileProjectWizard"
            name="Worthwhile Project"
            project="true">
      </wizard>
      <wizard
            category="edu.kit.iti.formal.pse.worthwhile.ui.newWizard.category"
            class="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:edu.kit.iti.formal.pse.worthwhile.ui.wizard.NewWorthwhileFileWizard"
            icon="icons/editor.gif"
            id="edu.kit.iti.formal.pse.worthwhile.ui.wizard.NewWorthwhileFileWizard"
            name="Worthwhile File">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="edu.kit.iti.formal.pse.worthwhile.ui.perspectives.WorthwhilePerspective"
            icon="icons/editor.gif"
            id="edu.kit.iti.formal.pse.worthwhile.ui.perspectives.worthwhile"
            name="Worthwhile">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="edu.kit.iti.formal.pse.worthwhile.ui.perspectives.worthwhile">
         <actionSet
               id="org.eclipse.debug.ui.launchActionSet">
         </actionSet>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.activities">
<activity id="edu.kit.iti.formal.pse.worthwhile.ui.activities.unwantedActionSet1" name="Unwanted Search ActionSet">
   <enabledWhen>
      <with variable="activePartId">  
<equals value="edu.kit.iti.formal.pse.worthwhile.ui.activities.unwantedActionSet"> 
</equals>    
</with></enabledWhen></activity>
<activityPatternBinding
      activityId="edu.kit.iti.formal.pse.worthwhile.ui.activities.unwantedActionSet1"
      pattern="org\.eclipse\.ui\.edit\.text\..*" />
<activityPatternBinding
      activityId="edu.kit.iti.formal.pse.worthwhile.ui.activities.unwantedActionSet1"
      pattern="org\.eclipse\.ui\.navigate\..*" />
</extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="edu.kit.iti.formal.pse.worthwhile.debugger.launch"
            icon="icons/editor.gif"
            id="edu.kit.iti.formal.pse.worthwhile.ui.launching.launchConfigurationTypeImage">
      </launchConfigurationTypeImage>
   </extension>
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="edu.kit.iti.formal.pse.worthwhile.ui.WorthwhileExecutableExtensionFactory:edu.kit.iti.formal.pse.worthwhile.ui.launching.WorthwhileLaunchConfigurationDelegate"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.launch"
            modes="run,debug"
            name="Worthwhile Program"
            sourceLocatorId="edu.kit.iti.formal.pse.worthwhile.debugger.sourceLookupDirector"
            sourcePathComputerId="edu.kit.iti.formal.pse.worthwhile.debugger.sourcePathComputer">
      </launchConfigurationType>
   </extension>
  <extension
        point="org.eclipse.debug.ui.debugModelPresentations">
     <debugModelPresentation
           class="edu.kit.iti.formal.pse.worthwhile.ui.debugmodel.WorthwhileDebugModelPresentation"
           id="edu.kit.iti.formal.pse.worthwhile.ui.debugModelPresentation">
     </debugModelPresentation>
  </extension>
</plugin>
