<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

<!-- adding resource factories -->

	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="edu.kit.iti.formal.pse.worthwhile.expressions.ui.MyWorthwhileExpressionsExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="wwexpr">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
        <resourceServiceProvider
            class="edu.kit.iti.formal.pse.worthwhile.expressions.ui.MyWorthwhileExpressionsExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
            uriExtension="wwexpr">
        </resourceServiceProvider>
    </extension>



</plugin>
