# tex stuff
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.make
*.fls
*.vrb
# pdfs
pflichtenheft.pdf
entwurf.pdf
presentation.pdf
implementierung.pdf
validierung.pdf
# java stuff
*.class
bin/
xtend-gen/
# automatic backups
*~
