<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="edu.kit.iti.formal.pse.worthwhile.debugger.model.WorthwhileLineBreakpoint"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.lineBreakpoint"
            markerType="edu.kit.iti.formal.pse.worthwhile.debugger.lineBreakpoint.marker">
      </breakpoint>
   </extension>
   <extension
         id="edu.kit.iti.formal.pse.worthwhile.debugger.lineBreakpoint.marker"
         name="Worthwhile Line Breakpoint"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      	 <persistent value="true"/>
   </extension>
   <extension
         id="edu.kit.iti.formal.pse.worthwhile.debugger.markers.failledAssertion"
         name="Failed Assertion"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension
         point="org.eclipse.debug.core.sourceLocators">
      <sourceLocator
            class="edu.kit.iti.formal.pse.worthwhile.debugger.launching.WorthwhileSourceLookupDirector"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.sourceLookupDirector"
            name="Worthwhile Source Lookup Director">
      </sourceLocator>
   </extension>
   <extension
         point="org.eclipse.debug.core.sourcePathComputers">
      <sourcePathComputer
            class="edu.kit.iti.formal.pse.worthwhile.debugger.launching.WorthwhileSourcePathComputerDelegate"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.sourcePathComputer">
      </sourcePathComputer>
   </extension>
</plugin>
