<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="edu.kit.iti.formal.pse.worthwhile.debugger.model.WorthwhileLineBreakpoint"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.lineBreakpoint"
            markerType="edu.kit.iti.formal.pse.worthwhile.debugger.lineBreakpoint.marker">
      </breakpoint>
   </extension>
   <extension
         id="edu.kit.iti.formal.pse.worthwhile.debugger.lineBreakpoint.marker"
         name="Worthwhile Line Breakpoint"
         point="org.eclipse.core.resources.markers">
         <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
      	 <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="edu.kit.iti.formal.pse.worthwhile.debugger.launching.WorthwhileLaunchConfigurationDelegate"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.launch"
            modes="run,debug"
            name="Worthwhile Program">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="edu.kit.iti.formal.pse.worthwhile.debugger.ui.launcher.WorthwhileTabGroup"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.tabgroup"
            type="edu.kit.iti.formal.pse.worthwhile.debugger.launch">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="edu.kit.iti.formal.pse.worthwhile.debugger.launching.WorthwhileLaunchShortcut"
            id="edu.kit.iti.formal.pse.worthwhile.debugger.launchShortcut"
            label="Worthwhile Program"
            modes="run,debug">
         <contextualLaunch>
         	<enablement>
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <or>
                        <test property="org.eclipse.debug.ui.matchesPattern" value="*.ww"/>
                     </or>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>

</plugin>
