<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.help.toc">
      <toc
            file="src/main/xml/toc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="src/main/xml/context.xml"
            plugin="edu.kit.iti.formal.pse.worthwhile.help">
      </contexts>
   </extension>

</plugin>
