<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="mydsl"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="MyDsl">
         <property
               name="appName"
               value="MyDsl">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="aboutText"
               value="Hello Worthwhile!&#x0A;&#x0A;&lt;strong&gt;Some HTML test&lt;/strong&gt;">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="12,290,478,15">
         </property>
         <property
               name="startupProgressRect"
               value="10,305,480,15">
         </property>
         <property
               name="aboutImage"
               value="about.bmp">
         </property>
      </product>
   </extension>

</plugin>
