<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.xtext.example.mydsl.plugin.launching.WorthWhileLaunchConfigurationDelegate"
            id="org.xtext.example.mydsl.plugin.launching.worthwhile"
            modes="run,debug"
            name="WorthWhile Prototype">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.xtext.example.mydsl.plugin.AbstractLaunchConfigurationTabGroup1"
            id="org.xtext.example.mydsl.plugin.launchConfigurationTabGroup1"
            type="org.xtext.example.mydsl.plugin.launching.worthwhile">
      </launchConfigurationTabGroup>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.xtext.example.mydsl.plugin.launching.LaunchShortcut"
            id="org.xtext.example.mydsl.plugin.shortcut1"
            label="label"
            modes="run,debug">
      </shortcut>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            class="org.xtext.example.mydsl.plugin.breakpoints.LineBreakpoint"
            id="org.xtext.example.mydsl.plugin.lineBreakpoint"
            markerType="org.xtext.example.mydsl.plugin.MyDslBreakpointMarker">
      </breakpoint>
   </extension>
   <extension
         id="MyDslBreakpointMarker"
         point="org.eclipse.core.resources.markers">
         
         <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
         
   </extension>

</plugin>
